<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="LoginAccountTest" >
    <classes>
   
       <class name="com.Zipzap.base.UIMapLoginTest.java"/>
    </classes>
  </test>
 
  <test name="UpdateAccountTest">
    <classes>
      <class name="com.Zipzap.base.LoginTest1.java" />
           <class name="com.Zipzap.base.updateAccount.java" />
     
    </classes>
  </test>
</suite>
